@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model baitaplon.Models.Product

<!-- Main -->
<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa-brands fa-product-hunt"></i>
                </div>
                <div>
                    Edit Product
                    <div class="page-title-subheading">
                        View, create, update, delete and manage.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="oldImage" value="@Model.Image" />
                        <input type="hidden" asp-for="Pid" />
                        <!-- Name -->
                        <div class="position-relative row form-group">
                            <label for="name" class="col-md-3 text-md-right col-form-label">Name</label>
                            <div class="col-md-9 col-xl-8">
                                <input required name="name" id="name" placeholder="Name" type="text"
                                       class="form-control" value="@Model.Name">
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="position-relative row form-group">
                            <label for="description" class="col-md-3 text-md-right col-form-label">Description</label>
                            <div class="col-md-9 col-xl-8">
                                <textarea required name="description" id="description" placeholder="Description" class="form-control" rows="5">@Model.Description</textarea>
                            </div>
                        </div>


                        <!-- Price -->
                        <div class="position-relative row form-group">
                            <label for="price" class="col-md-3 text-md-right col-form-label">Price</label>
                            <div class="col-md-9 col-xl-8">
                                <input required name="price" id="price" placeholder="Price" type="number"
                                       class="form-control" value="@Model.Price">
                            </div>
                        </div>

                        <!-- Quantity -->
                        <div class="position-relative row form-group">
                            <label for="quantity" class="col-md-3 text-md-right col-form-label">Quantity</label>
                            <div class="col-md-9 col-xl-8">
                                <input required name="quantity" id="quantity" placeholder="Quantity" type="number"
                                       class="form-control" value="@Model.Quantity">
                            </div>
                        </div>

                        <!-- Discount -->
                        <div class="position-relative row form-group">
                            <label for="discount" class="col-md-3 text-md-right col-form-label">Discount</label>
                            <div class="col-md-9 col-xl-8">
                                <input required name="discount" id="discount" placeholder="Discount (%)" type="number"
                                       class="form-control" value="@Model.Discount">
                            </div>
                        </div>


                        <!-- Image -->
                        <div class="position-relative row form-group">
                            <label for="image" class="col-md-3 text-md-right col-form-label">Image</label>
                            <div class="col-md-9 col-xl-8">
                                <!-- Hiển thị hình ảnh hiện tại -->
                                @if (!string.IsNullOrEmpty(Model.Image))
                                {
                                    <div class="mb-3">
                                        <img src="@(Url.Content("~/Uploads/products/" + Model.Image))" alt="Product Image" style="max-width: 100px; max-height: 100px;">
                                    </div>
                                }
                                <!-- Input để tải lên hình ảnh mới -->
                                <input name="fileUpload" id="image" type="file" class="form-control">
                            </div>
                        </div>


                        <!-- Cid -->
                        <div class="position-relative row form-group">
                            <label for="cid" class="col-md-3 text-md-right col-form-label">Category</label>
                            <div class="col-md-9 col-xl-8">
                                <select name="cid" class="form-control">
                                    @foreach (var cate in ViewBag.categories)
                                    {
                                        if (cate.Cid == Model.Cid)
                                        {
                                            <option value="@cate.Cid" selected>@cate.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@cate.Cid">@cate.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>


                        <!-- Buttons -->
                        <div class="position-relative row form-group mb-1">
                            <div class="col-md-9 col-xl-8 offset-md-2">
                                <a asp-action="Index" class="border-0 btn btn-outline-danger mr-1">
                                    <span class="btn-icon-wrapper pr-1 opacity-8">
                                        <i class="fa fa-times fa-w-20"></i>
                                    </span>
                                    <span>Cancel</span>
                                </a>

                                <button type="submit" class="btn-shadow btn-hover-shine btn btn-primary">
                                    <span class="btn-icon-wrapper pr-2 opacity-8">
                                        <i class="fa fa-download fa-w-20"></i>
                                    </span>
                                    <span>Save</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main -->
